{% extends 'software_showcase/base.html' %}

{% block content %}
    <div class="container-fluid px-0" style="overflow-x: hidden;">

        <div class="row mt-0 ml-0 mr-0 mb-0">

            <div class="col" style="padding-top: 1.5rem;">
               
                <div class="jumbotron container-fluid w-75 px-0 py-0"
                style="background: #f5ba25;">

                    <div class="row pt-0 pl-0 pr-0">

                        <div class="col-sm-12 col-md-7 col-lg-8
                        order-md-1 order-2 px-5">
                            <h1 class="display-2 text-center
                            text-md-left" style="overflow: hidden; white-space: normal;">Hi!</h1>
                            <hr class="my-4">
                            <p style="font-size: 1.2rem;">{{ aboutme.blurb }}</p>
                            <hr class="my-4">
                            
                            
                        </div>

                        <div class="col-sm-0 col-md-5 col-lg-4
                        order-md-2 order-1 d-inline-flex justify-content-sm-center
                        justify-content-md-end">
                            <img class="img-fluid rounded" src="{{ aboutme.pic.url }}">
                        </div>

                    </div>

                </div>
                

            </div>

        </div>


        <div class="row align-self-center">

            <div class="col">

                <div class="container text-center">
                    <h1 class="display-3">Projects</h1>
                    <hr class="my-1">
                </div>

                {% for item in showcase %}
                    <div class="card text-center mb-5 mt-5 ml-auto mr-auto w-75
                    bg-dark text-white">
                        <div class="card-header">
                            <h3 class="card-title">{{ item.title }}</h3>
                        </div>
                        <img class="card-img-top img-fluid" src="{{ item.pic.url }}"
                        style="border: solid .1rem;">
                        <div class="card-body">
                            
                            <h5 class="card-subtitle mb-2 text-muted">{{ item.date }}</h5>
                            <p>{{ item.text }}</p>

                            {% if item.path_to_site or item.path_to_git %}
                               
                                <a href="{{ item.path_to_site }}" target="_blank">
                                    <button type="button" class="btn btn-primary">
                                        Visit Site
                                    </button>
                                </a>


                                <a href="{{ item.path_to_git }}" target="_blank">
                                    <button type="button" class="btn btn-primary">
                                        Visit Github
                                    </button>
                                </a>

                            {% endif %}
                            
                        </div>
                    </div>
                {% empty %}
                    <h1>It ain't here, yo.</h1>
                {% endfor %}
            </div>
            
        </div>


    </div>
{% endblock content %}